@import "./../../libs/variables.scss";

.main {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;

  .chatBaloon {
    width: 70%;
    background-color: $mainLightBlue;
    padding: 10px 20px;
    border-radius: 20px;
    color: darken($mainLightBlue, 40);
    margin-bottom: 20px;
    &.mine {
      background-color: $mainLightBlue;
      align-self: flex-end;
      color: darken($mainLightBlue, 40);
    }
    .author {
      font-weight: bold;
    }
    .date {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .text {
      font-size: 14px;
    }
  }
}
