@import "./../../libs/variables.scss";

.main {
  .mainContainer {
    min-height: calc(100vh - 100px);
    overflow-y: visible;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 80px;

    &::-webkit-scrollbar {
      width: 5px;
      //   left: -100px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $mainLightBlue;
    }
  }
  @media all and (min-width: 990px) {
    .mainContainer {
      padding-bottom: 0px;
    }
  }
}
