@import "./../../libs/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  max-height: -webkit-fill-available;
  .mainContainer {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px 0 0 0;
    background-color: $background;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $mainLightBlue;
    }
  }
  @media all and (min-width: 990px) {
    .mainContainer {
      padding-bottom: 0px;
    }
  }
  @media all and (max-width: 990px) {
    .mainContainer {
      flex-grow: 1;
      box-shadow: none;
    }
  }
}
