@import "./../../libs/variables.scss";

.main {
  .mainContainer {
    background-color: $background;
    min-height: calc(100vh - 90px);
    overflow-y: visible;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 20px;
    padding-bottom: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    &::-webkit-scrollbar {
      width: 5px;
      //   left: -100px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $mainLightBlue;
    }
  }
  @media all and (min-width: 990px) {
    .mainContainer {
      padding-bottom: 0px;
    }
  }
}
