@import "./../../libs/variables.scss";
.main {
  background-color: $background;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 100px;
  min-height: calc(100vh - 165px);
  color: darken($mainLightBlue, 30);

  .separator {
    width: 80%;
    height: 1px;
    background-color: $mainPink;
    margin: 20px auto;
  }
  .title {
    margin-left: 40px;
  }
  .messPrev {
    padding: 20px 20px;
    .text {
      margin-left: 20px;
    }
    .noitem {
      padding: 20px 20px;
      color: $mainLightBlue;
    }
  }
}
