@import "./../../libs/variables.scss";
.main {
  background-color: $background;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 100px;
  .title {
    margin-left: 40px;
  }
  .messPrev {
    .text {
      margin-left: 40px;
    }
    p {
      padding: 20px 40px;
      margin-left: 10px;
      color: $mainLightBlue;
    }
  }
}
