@import "./../../libs/variables.scss";

.main {
  display: flex;
  padding: 0 40px;
  min-height: calc(100vh - 165px);
  .wrapper {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 20px;
    .info {
      position: relative;
      color: #fff;
      z-index: 2;
      margin: 25px auto;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        margin: 5px 0 0 20px;
      }
      h3 {
        font-family: $paragraphFont;
        font-weight: 700;
        font-size: 24px;
        margin-left: 20px;
        padding-top: 80px;
      }
    }
    .header {
      height: 233px;
      background-size: cover;
      background-position: center;
      position: relative;
      margin: -200px auto 0;
      border-radius: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
      &::before {
        content: "";
        position: absolute;
        border-radius: 20px;
        background: linear-gradient(
          180deg,
          rgba(72, 0, 48, 0.68) 0%,
          rgba(100, 0, 67, 0.15) 100%
        );
        width: 100%;
        height: 233px;
      }
    }

    .charsetContainer {
      color: darken($mainLightBlue, 30);

      max-width: 400px;
      border-radius: 21px;
      margin: 40px 0;
      box-shadow: 0 3px 13px rgb(0 0 0 / 25%);
      .charTitle {
        padding: 20px 0 10px 30px;
        font-weight: 400;
        font-size: 14px;
        font-weight: bold;
      }
      .charSet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .char {
          display: flex;
          align-items: center;
          width: 100px;
          height: 40px;
          font-weight: 400;
          font-size: 12px;
          margin: 10px 0.5rem;
          cursor: pointer;
          span {
            color: #b9d1e0;
            margin-right: 8px;
            font-size: 20px;
            &.active {
              color: $mainPink;
            }
          }
        }
      }
    }
  }
  .actions {
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .line {
      display: none;
      height: 2px;
      background-color: $mainPink;
      width: 80%;
    }
    .logoutBtn {
      background: linear-gradient(
        105.54deg,
        #b9d1e0 22.32%,
        rgba(185, 209, 224, 0.21) 107.38%
      );
      color: #990066;
      border: none;
      border-radius: 100px;
      padding: 10px 30px;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .bottomContent {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      max-width: 400px;
      button {
        background: linear-gradient(
          105.54deg,
          #b9d1e0 22.32%,
          rgba(185, 209, 224, 0.21) 107.38%
        );
        color: $mainPink;
        border: none;
        border-radius: 100px;
        padding: 10px 30px;
        cursor: pointer;
      }
    }
  }
}

@media all and (max-width: 990px) {
  .main {
    flex-direction: column;
    .actions {
      padding-top: 0;
      min-width: 100%;
      flex-direction: column-reverse;
      .line {
        display: none;
        align-self: flex-end;
        margin: 20px 0 0 0;
      }
    }
    .bottomContent {
      margin-bottom: 10px;
      max-width: 100%;
      width: 100%;
    }
  }
}
