@import "./../../libs/variables.scss";

.containerForm {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-top: 30px;
  .logo {
    margin: 1.5rem $sideMargin 0.5rem $sideMargin;
    text-align: left;
    font-size: $logoSize;
  }

  .closeBtn {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 1.3rem;
    left: 20rem;
    padding: 0.5rem;
    border-radius: 5rem;
    border: none;
    background-color: $mainLightBlue;
    color: $mainPink;
  }

  .containerForm {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding: $sidePadding;
    position: relative;
    .img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .nextBtn {
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 46rem;
    left: 19rem;
    padding: 0.5rem;
    border-radius: 5rem;
    border: none;
    background-color: $mainLightBlue;
    color: $mainPink;
  }
}
