@import "./../../libs/variables.scss";

.cardContainer {
  min-width: 110px;
  height: 150px;
  position: relative;
  margin: 20px 0 0 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: $radiusDiv;
  position: relative;
  cursor: pointer;
  span {
    position: absolute;
    z-index: 2;
    background-color: $mainPink;
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    right: 10px;
    top: 15px;
  }

  .info {
    position: absolute;
    width: 100%;
    bottom: 0rem;
    padding: 1.5rem 1rem 1rem;
    color: white;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.884),
      rgba(0, 0, 0, 0)
    );

    .name {
      font-family: $titleFont;
      font-size: $superSmall;
    }

    .city {
      font-family: $paragraphFont;
      font-size: $labelSize;
    }
  }
}
