@import "./../../libs/variables.scss";

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: #4e0134e1;
  padding: $sidePadding;

  .closeBtn {
    border: none;
    background-color: rgba(80, 80, 80, 0);
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: $mainLightBlue;
    font-size: 2rem;
    cursor: pointer;
  }

  .modalInfo {
    min-width: 60%;
    margin: 8rem auto;
    background-color: white;
    padding: 40px 20px;
    border-radius: $radiusDiv;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.83);
    height: 70%;
    overflow-x: hidden;
    &::-webkit-scrollbar {       
      display: none;
    }

    .flexHeaderInfo {
      display: flex;
      justify-content: space-between;
      color: #779bb1;
      padding-left: 8px;

      .subHeader {
        font-size: $superSmall;
      }
      .icon {
        color: lighten($mainPink, 8);
        font-size: 2rem;
        cursor:pointer;
      }
    }
  }

  .fieldset {
    border: 2px solid $mainLightBlue;
    border-radius: 0.8rem;
    padding: 0.6rem;
    margin-top: 2rem;
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.25);
    
    legend {
      font-weight: 500;
      font-size: $superSmall;
      color: #779bb1;
    }
    section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }

    .flexColumn {
      flex-direction: column;
      margin: 0 0.3rem;

      .char {
        display: flex;
        align-items: center;
        width: 100px;
        height: 40px;
        font-weight: 400;
        margin: 0;
        margin-right: 5px;
        color: $mainLightBlue;
        font-size: 12px;

        span {
          color: #b9d1e0;
          margin-right: 8px;
          font-size: 20px;        

          &.active {
            color: $mainPink;
          }
        }
      }
    }

    .roommatesTitle {
      display: flex;
      justify-content: space-around;
      align-items: center;

      margin: 10px 10px 20px 10px;
      font-size: $superSmall;
      font-weight: bold;
      color: #779bb1;
      span {
        margin: 0 10px;
        align-items: center;
        color: $mainLightBlue;
        svg {
          font-size: 20px;
          color: #779bb1;
        }
      }
    }
  }

  .gallery {
    margin: 42px 0px;
    p {
      margin-bottom: 0.5rem;
    }
  }
}