@import "./../../libs/variables.scss";

.slider {
  width: 22rem;
  margin: 0 auto;
  // position: absolute;
  left: calc(50% - 11rem);
  overflow-y: hidden;
  scroll-behavior: smooth;
  cursor: pointer;
  .sliderWrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;
  }

  .leftBtn {
    bottom: 20rem;
    right: 2.3rem;
    position: relative;
    color: rgba(202, 202, 202, 0.442);
  }
  .rightBtn {
    bottom: 13rem;
    left: 17rem;
    position: absolute;
    color: rgba(255, 255, 255, 0.49);
  }
  .rightBtn,
  .leftBtn {
    // position: relative;
    background-color: rgba(80, 80, 80, 0);
    border: none;
    font-size: 2rem;
  }
}

.cardContainer {
  min-width: 20rem;
  margin: 6rem 1.6rem 5rem 0.6rem;
  height: 30rem;
  position: relative;
  border-radius: 21px;
  margin-bottom: 25px;
  overflow-y: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.25);
  .cardText {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 3rem 2rem 2rem;
    color: white;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.884),
      rgba(0, 0, 0, 0)
    );
    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .compatibility {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
        font-size: $superSmall;
      }
      .icon {
        color: lighten($mainPink, 8);
        font-size: 2rem;
      }
    }
  }
}

.infoCardContainer {
  border: 1px solid blue;
  min-width: 20rem;
  max-width: 20rem;
  margin: 6rem 2rem 5rem 0.5rem;
  height: 30rem;
  border-radius: 21px;
  margin-bottom: 25px;
  padding: $sidePadding;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.25);
  p {
    font-size: $superSmall;
  }
  .roomDescription {
    font-size: $superSmall;
    margin-top: 1.5rem;
  }
  .details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    p {
      margin: 0.5rem 1rem 0.5rem 0;
    }
  }
  .gallery {
    margin: 42px 0;
    p {
      margin-bottom: 0.5rem;
    }
  }
}
