@import "./../../libs/variables.scss";
.main {
  width: 100%;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: $background;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &::-webkit-scrollbar {
    display: none;
  }
  .filter {
    width: 100%;
    padding: 20px 40px;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 990px) {
  .main {
    justify-content: center;
  }
}
