@import "./../../libs/variables.scss";
.main {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: $background;
  overflow-y: auto;
  padding-bottom: calc(100px + 30px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  &::-webkit-scrollbar {
    display: none;
  }

  .filter{
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}
