@import "./../../libs/variables.scss";

.main {
  background: linear-gradient(
    180deg,
    #74004d 0%,
    rgba(153, 0, 102, 0.229167) 65%,
    rgba(153, 0, 102, 0) 100%
  );
  position: fixed;
  top: 0;
  width: 100vw;
  height: 90px;
  z-index: 2;
}

.logo {
  color: $background;
  font-family: $titleFont;
  font-size: 1rem;
  margin: $topMargin 2rem;
}
