@import "./../../libs/variables.scss";

.main {
  width: 262px;
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 5px;
  }
}
