@import "./../../libs/variables.scss";

.main {
  background-color: $mainLightBlue;
  color: darken($mainLightBlue, 35);
  padding: 10px;
  p {
    span {
      font-weight: bold;
      font-size: $smallSize;
    }
  }
  .roomInfo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: $superSmall;
    .img {
      width: 80px;
      height: 80px;
      margin-right: 10px;
      background-size: cover;
      background-position: center;
    }
    .info {
      flex-grow: 1;
    }
    .type {
      font-weight: bold;
    }
  }
}
