@import "./../../libs/variables.scss";

.main {
  margin-top: 110px;

  .closeBtn {
    border: none;
    background-color: rgba(80, 80, 80, 0);
    position: absolute;
    top: -10px;
    right: 0;
    color: $mainLightBlue;
    font-size: 2rem;
  }

  .stepText {
    font-family: $paragraphFont;
    text-align: left;
    margin: 30px auto;
    font-size: $superSmall;
  }

  .stepperWrapper {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 50px;
    position: relative;
  }
  .stepCounter {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid $mainPink;
    background-color: white;
    border-radius: 5rem;
    color: $mainLightBlue;
    &::before {
      position: absolute;
      content: "";
      border-bottom: 3px solid $mainPink;
      width: 130px;
      top: 10px;
      z-index: -1;
    }
    &:last-child::before {
      content: "";
      display: none;
    }
  }

  .completed {
    background-color: $mainPink;
  }

  .active {
    background-color: $mainPink;
    border-color: $mainPink;
    font-weight: bold;
    color: white;
  }

  .stepperWrapper:first-child::before {
    content: none;
  }
  .stepperWrapper:last-child::after {
    content: none;
  }
}
