@import "./../../../libs/variables.scss";

.containerForm {
  width: 260px;
  height: 100%;
  margin: 0 auto;
  color: darken($mainLightBlue, 8);
  .flexForm {
    display: flex;
    flex-direction: column;
    .img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      position: relative;
      margin-bottom: 20px;
      cursor: pointer;

      .uploadBtn {
        position: absolute;
        background-color: $mainLightBlue;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
      }
    }
    .hidden {
      display: none;
    }

    .label {
      color: darken($mainLightBlue, 8);
      font-size: $labelSize;
      font-weight: bold;
      margin-top: 35px;
    }

    .input,
    .inputNameSur {
      height: 35px;
      border: none;
      border-bottom: 2px solid $mainLightBlue;
      padding-top: 8px;
      &::placeholder {
        color: darken($mainLightBlue, 8);
        font-size: $labelSize;
      }
    }
    .inputNameSur {
      margin-bottom: 10px;
    }
    .arrowBtns {
      width: 200px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      .nextStep {
        width: 35px;
        border: none;
        background-color: rgba(80, 80, 80, 0);
        margin-top: 50px;
        color: $mainPink;
        font-size: 2rem;
        cursor: pointer;
      }
    }
  }
}
