@import "./../../../libs/variables.scss";
.container {
  display: flex;
  align-items: center;
  .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  .info {
    .infoCity {
      margin-top: 5px;
    }

    label {
      font-size: $labelSize;
      font-weight: bold;
    }
  }
}

.error{
  text-align: center;
  margin-top: 20px;
  color: $mainPink;
}

.fieldset {
  border: 2px solid $mainLightBlue;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-top: 5rem;
  legend {
    font-weight: 500;
  }
  section {
    display: flex;
  }

  .flexColumn {
    flex-direction: column;

    margin: 0 1rem;
  }
}

// Style checkbox
.labelContainer {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
  font-size: $labelSize;
}

// Hide the default checkbox
.labelContainer input {
  visibility: hidden;
  cursor: pointer;
}

// Create new checkbox
.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  border: 3px solid $mainLightBlue;
  border-radius: 3rem;
}
.labelContainer input:checked ~ .mark {
  background-color: $mainLightBlue;
}
// end checkbox style

.btnSet {
  .prevStep {
    width: 32px;
    height: 32px;
    border: none;
    background-color: rgba(80, 80, 80, 0);
    position: absolute;
    bottom: 1.5rem;
    left: $sidePadding;
    color: $mainLightBlue;
    font-size: 2rem;
  }

  .nextStep {
    border: none;
    width: 40px;
    height: 40px;
    background-color: $mainPink;
    position: absolute;
    bottom: 1.3rem;
    right: $sidePadding;
    color: #fff;
    font-size: 1rem;
    border-radius: 50%;
    font-weight: bold;
  }
  
}
