@import "./../../libs/variables.scss";

.logo {
  margin: 1.5rem $sideMargin 0.5rem $sideMargin;
  text-align: left;
  font-size: $logoSize;
}

.closeBtn {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 1.3rem;
  left: 20rem;
  padding: 0.5rem;
  border-radius: 5rem;
  border: none;
  background-color: $mainLightBlue;
  color: $mainPink;
}

.stepText {
  font-family: $paragraphFont;
  text-align: left;
  margin: 0 $sideMargin 1rem $sideMargin;
  font-size: $superSmall;
}

.stepperWrapper {
  width: 100%;
  padding: 1rem $sideMargin;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepCounter {
  width: 2rem;
  height: 2rem;
  padding-top: 0.25rem;
  border: 3px solid $mainLightBlue;
  background-color: white;
  border-radius: 5rem;
  color: $mainLightBlue;
  &::before {
    position: absolute;
    content: "";
    border-bottom: 3px solid $mainLightBlue;
    width: 100%;
    top: 7.3rem;
    left: -50%;
    z-index: -1;
  }
  &::after {
    position: absolute;
    content: "";
    border-bottom: 3px solid $mainLightBlue;
    width: 100%;
    top: 7.3rem;
    left: 50%;
    z-index: -1;
  }
}

.completed {
  background-color: $mainPink;
}

.active {
  background-color: $mainLightBlue;
  font-weight: bold;
  color: white;
}

.stepperWrapper:first-child::before {
  content: none;
}
.stepperWrapper:last-child::after {
  content: none;
}

.nextBtn {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 46rem;
  left: 19rem;
  padding: 0.5rem;
  border-radius: 5rem;
  border: none;
  background-color: $mainLightBlue;
  color: $mainPink;
}
