@import "./../../libs/variables.scss";

.main {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 80px;
  background: linear-gradient(180deg, #f4fbff, $mainLightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    li {
      margin: 13px 30px 0;
      font-size: 33px;
      color: $iconcolor;
      &:hover {
        color: $mainLightBlue;
      }
    }
  }
}
