@import "./../../libs/variables.scss";
.container {
  display: flex;

  .matchesContainer {
    height: 8rem;
    margin: 0 0 50px 10px;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    p {
      padding: 20px 40px;
      color: $mainLightBlue;
    }
    .matches {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      width: auto;
      margin: 0.5rem;
      padding: 0.5rem;
      font-size: 15px;
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        z-index: 2;
        background-color: $mainPink;
        width: 30px;
        height: 30px;
        color: #fff;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        right: 10px;
        top: 15px;
      }
      .imgMatch {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        object-fit: cover;
        width: 100px;
        height: 100px;
      }
    }
  }
}
