@import "./../../libs/variables.scss";

.main {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: $background;
  padding: 10px 20px 20px 20px;
  .image {
    background-image: url("./../../libs/img/desktop-like.jpg");
    background-size: cover;
    background-position: center;
    min-width: 400px;
    position: relative;
    margin-right: 10px;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(72, 0, 48, 0.68) 0%,
        rgba(100, 0, 67, 0.15) 100%
      );
    }
  }
  .likesContainer {
    flex-grow: 1;
    .title {
      display: inline-block;
      margin: 0 30px;
    }
    .cardContainer {
      margin: 40px auto;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
@media all and (max-width: 990px) {
  .image {
    display: none;
  }
}
