@import "./../../libs/variables.scss";

.main {
  height: 100%;
  background-color: $background;
  overflow-y: auto;
  .title {
    display: inline-block;
    margin: 140px auto auto 70px;
  }

  .cardContainer {
    margin: 40px auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
