.main {
  display: flex;
  height: calc(100vh - 120px);
  justify-content: center;
  .image {
    background-image: url("./../../libs/img/desktop.jpg");
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100vh - 120px);
      background: linear-gradient(
        0deg,
        rgba(72, 0, 48, 0.68) 0%,
        rgba(100, 0, 67, 0.15) 100%
      );
    }
  }
  .form {
    min-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media all and (max-width: 990px) {
    .image {
      display: none;
    }
    .form {
      width: 100%;
      align-items: flex-start;
      padding-top: 20px;
    }
  }
}
